[Unit]
Description=Description for sample script goes here
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/wildfly
TimeoutStartSec=0

[Install]
WantedBy=default.target